<!DOCTYPE html>
{% load staticfiles %}
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>음식</title>
        <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
</head>
<body>
 <header class="sticky-top">
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img  src="{% static 'fire.png' %}" alt="">
      <a class="navbar-brand" href="{% url 'index' %}">Food Diary</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'food' %}">food AlBUM</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
            Food LAB
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'ABOUT' %}">음식일기등록</a>
              <a class="dropdown-item" href="{% url 'post' %}">음식일기보는곳~</a>
            </div>
          </li>
        </ul>
      </div>
        <li><b class="nav-item dropdown text-right text-white">{{user.username}} 님이 로그인 중</b></li>
    </nav>
    </div>
</header>
    <div class="container">
        <div class="alert alert-danger text-center text-dark" role="alert">
            <h1 class="text-center text-dark">My Food Diary Write</h1>
            <hr style="border-bottom: 3px solid black">
        <form action="{% url 'create' %}">
                <h4 class="text-dark">Title </h4>
            <hr style="border-bottom: 2px solid black">
            <input type="text" name="foodName" placeholder="음식을 입력해주세요!">

            <hr style="border-bottom: 3px solid black">
            <h4>사진</h4>
            <hr style="border-bottom: 3px solid black">
            <div class="form-group">
            <h3 style="margin: 0 355px auto"><input name="pic" type="file" class="form-control-file" id="exampleFormControlFile1"></h3>
            </div>
            <hr style="border-bottom: 3px solid black">
            <h4>위치 </h4>
            <hr style="border-bottom: 3px solid black">
            <input type="text" name="GPS"  placeholder="위치를 입력해주세요!">
            <hr style="border-bottom: 3px solid black">
            <h3 class="">맛 평가</h3>
            <hr style="border-bottom: 3px solid black">
            <textarea placeholder="당신은 미식가입니다.
음식을 음미하고 평가해보세요!! ㅎㅎ :)" name="taste" cols="40" rows="10"></textarea>
            <hr style="border-bottom: 3px solid black">
            <input class="btn btn-info" type="submit" value="upload">

        </form>
            </div>
    </div>
 <footer style="border-top: solid grey 2px" class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <h4 class="display-5">food diary</h4>
    <h5 class="display-5">정보보호학과 91613662 김효성</h5>
    <h5 class="display-5">정보보호학과 91613911 정병선</h5>
  </div>
</footer>


<script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
</body>
</html>
