<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  <header class="sticky-top">
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img  src="{% static 'fire.png' %}" alt="">
      <a class="navbar-brand" href="{% url 'index' %}">Food Diary</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'food' %}">food AlBUM</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
            Food LAB
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'ABOUT' %}">음식일기등록</a>
              <a class="dropdown-item" href="{% url 'post' %}">음식일기보는곳~</a>
            </div>
          </li>
        </ul>
      </div>
        <li><b class="nav-item dropdown text-right text-white">{{user.username}} 님이 로그인 중</b></li>
    </nav>
    </div>
</header>
    <div class="container">
          {% for add in adds.all %}
    </div>
        <div class="alert alert-warning text-center text-dark" role="alert">
            <h4 class="display-6 font-weight-bolder"><b class="text-primary">음식이름</b>  <b class="text-dark">>> </b>  <b class="text-info">{{add.foodName}} </b></h4>
            <hr style="border-bottom: 3px solid black">
             <h2><img src="\media/{{add.pic}}" width="400" height="250" alt="제발나와라요~"></h2>
            <hr style="border-bottom: 3px solid black">
             <h4 class="display-6 font-weight-bolder"><b class="text-primary">위치</b>  <b class="text-dark">:</b>  <b class="text-info">{{add.GPS}} </b></h4>
            <hr style="border-bottom: 3px solid black">
            <div style="border: 3px solid rgba(255,220,20,0.8)"> <h4 class="display-6 font-weight-bolder"><b class="text-primary">맛 평가
                <hr style="border-bottom:1px solid rgba(0,0,0,0.2)"></b>   <div> <b class="text-info">{{add.taste}} </b></div></h4>
</div>
             <h4 class="display-6 font-weight-bolder"><b class="text-primary">날짜</b>  <b class="text-dark">>> </b>  <b class="text-info">{{add.date}} </b></h4>
            <hr style="border-bottom: 3px solid black">
            </div>
  <br><br><br>
    </div>
     {% endfor %}
  <footer style="border-top: solid grey 2px" class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <h4 class="display-5">food diary</h4>
    <h5 class="display-5">정보보호학과 91613662 김효성</h5>
    <h5 class="display-5">정보보호학과 91613911 정병선</h5>
  </div>
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>